
main{
  img{
    width: 80%;
    margin:80px auto 80px auto;
  }
  h2{
    margin:0 auto 40px auto;
  }
  P{
    margin:0px 60px 80px auto;
    opacity: 0.5;
  }
  .container{
    
    bottom: -147px;
    @include flex;
    flex-direction: column;
    
    &:first-child{
      margin-top: 5em;
    }
    .main__features{
      @include flex;
      flex-direction: row;
      text-align: left;
      width: 90%;
      @include boxshadow();
      .main__feature-text{
        width: 80%;
        margin-left: 80px;
      }
    }
    .main__features-reverse{
    flex-flow: row-reverse;
    }
    .banner{
      position: relative;
      background: white;
      top: 146px;
      @include flex;
      @include boxshadow();
      text-align: center;
      width: 65%;
      height: 300px;
      .banner__btn{
        @include Btn;
        font-size: 18px;
        padding: 20px 50px;
      }
    }
  }
  
}
@include responsive(1024px){
main{
  img{
    margin:80px auto 80px auto;
  }
  h2{
    margin:0 auto 40px auto;
  }
  P{
    margin:0px auto 80px auto;
    opacity: 0.5;
  }
  .container{
    @include flex;
    flex-direction: column;
    .main__features{
      @include flex;
      flex-flow: wrap-reverse;
      text-align: center;
      width: 90%;
      @include boxshadow();
      .main__feature-text{
        width: 80%;
        margin: auto;
      }
      
    }
  }
  
}
}
@include responsive(900px){
  main .container .banner{
    @include flex;
    @include boxshadow();
    text-align: center;
    width: 65%;
    height: 300px;
    main .container .banner  .banner__title{
        width: 70%;
      }
    
    main .container .banner .banner__btn{
      main .container .banner .banner__btn a{
      @include Btn;
      font-size: 10px;
      padding: 20px 50px;
      }
    }
  }

}
